<!doctype html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" href="/static/css/madlib.css"> 
</head>
<body>

<h1 class = "violet"> Input words</h1>
<form action = "/madlib">
    <input type = "text" name = "person"> <label> Person </label><br>
    <input type = "text" name = "color"> <label> Color </label><br>
    <input type = "text" name = "noun"> <label> Noun </label><br>
    <input type = "text" name = "adjective"> <label> Adjectivce </label> <br>
    <input type = "text" name = "pronoun"> <label> Pronoun </label> <br>
    <input type = "text" name = "verb"> <label> Verb </label> <br> 
    <input type = "text" name = "adverb"> <label> Adverb </label><br>
    <button type = "submit">Submit</button> 
    </form>


</body>
</html>